@font-face {
	font-family: Ringbearer; /* Имя шрифта */
	src: url(../fonts/RINGM___.TTF); /* Путь к файлу со шрифтом */
}

h1, h2 {
	font-family: Ringbearer;
	font-size: 30px;
	color: #bd721f;
}
p1 {

	font-family: Ringbearer;
	font-size: 20px;

p {

	font-family: Ringbearer;
	font-size: 20px;
}
